* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px; }

ul,
li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

button {
  border-style: none; }

input {
  outline: none; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

header .wrap {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100; }
  header .wrap .header-top {
    height: 47px;
    box-sizing: border-box;
    width: 980px;
    text-align: center;
    margin: 0 auto; }
    header .wrap .header-top img {
      float: left;
      height: 27px;
      width: 88px;
      margin-top: 9px;
      margin-bottom: 12px; }
    header .wrap .header-top .game-center {
      float: right;
      margin-top: 10px;
      margin-right: 12px; }
      header .wrap .header-top .game-center i {
        margin-right: 5px; }
      header .wrap .header-top .game-center a {
        font-size: 12px;
        vertical-align: bottom; }
      header .wrap .header-top .game-center a:hover {
        color: #f84962; }
    header .wrap .header-top .download {
      float: right;
      margin-top: 10px; }
      header .wrap .header-top .download i {
        margin-right: 2px; }
      header .wrap .header-top .download a {
        font-size: 12px;
        vertical-align: bottom; }
      header .wrap .header-top .download a:hover {
        color: #f84962; }
    header .wrap .header-top .search {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-70%, -50%); }
      header .wrap .header-top .search input[type="text"] {
        float: left;
        box-sizing: border-box;
        padding-left: 10px;
        width: 264px;
        height: 33px;
        border: 1px solid #e2e2e2;
        color: #999;
        border-radius: 5px 0 0 5px; }
      header .wrap .header-top .search button {
        float: left;
        width: 46px;
        height: 32px;
        color: #fff;
        background-color: #f84962;
        margin-left: -1px;
        border-radius: 0 5px 5px 0;
        cursor: pointer; }
    header .wrap .header-top .user {
      float: right;
      margin-top: 10px; }
      header .wrap .header-top .user li {
        float: right;
        margin-left: 21px; }
        header .wrap .header-top .user li i {
          color: #909699; }
        header .wrap .header-top .user li i:hover {
          color: #f84962; }
      header .wrap .header-top .user li:last-of-type {
        margin-top: 5px; }
      header .wrap .header-top .user a:hover {
        color: #f84962; }
header .header-banner {
  width: 100%;
  height: 180px;
  margin-top: 47px;
  background: url("src/pic/banner.jpg") no-repeat center top;
  background-size: cover; }
header nav {
  position: relative;
  height: 46px;
  border-bottom: 1px solid #eee; }
  header nav ul {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 100%;
    font-size: 14px;
    color: #333; }
    header nav ul > li {
      float: left;
      padding: 14px 4px 12px 4px;
      margin-right: 26px;
      position: relative; }
      header nav ul > li ul {
        position: absolute;
        z-index: 5;
        display: none;
        top: 100%; }
        header nav ul > li ul li {
          float: left;
          padding: 14px 8px 12px 0;
          margin-right: 26px; }
    header nav ul li:hover {
      color: #f84962; }
      header nav ul li:hover ul {
        display: block; }
    header nav ul .active {
      color: #f84962;
      border-bottom: 3px solid #f84962; }
    header nav ul .rank {
      margin-right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0; }
      header nav ul .rank i {
        vertical-align: middle; }
  header nav .moreGroupBg {
    position: absolute;
    display: none;
    z-index: 1;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #eee;
    box-shadow: 0px 1px #eee; }

/*# sourceMappingURL=acfun.css.map */
