* {
  margin: 0;
  padding: 0; }

body {
  font-size: 12px;
  color: #333; }

ul,
li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

b,
h2,
h4,
h5 {
  font-weight: normal; }

i {
  font-style: normal; }

img {
  vertical-align: top; }

button {
  border-style: none;
  cursor: pointer; }

input,
button {
  outline: none; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.middle:after {
  content: '';
  display: inline-block;
  visibility: hidden;
  vertical-align: middle; }

.center {
  width: 980px;
  margin: 40px auto 0 auto; }

.column-left {
  float: left;
  width: 700px; }
  .column-left h2 {
    position: relative;
    margin-bottom: 10px; }
    .column-left h2 img {
      vertical-align: middle;
      width: 40px; }
    .column-left h2 a {
      margin-left: 10px; }
    .column-left h2 a:hover {
      color: #f84962; }
    .column-left h2 button {
      padding: 2px 6px;
      border: 1px solid #9c9999;
      border-radius: 4px;
      margin-left: 10px;
      background-color: #fff;
      vertical-align: middle; }
    .column-left h2 button:hover {
      background-color: #e2e2e2; }
    .column-left h2 .title-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      margin-top: 10px; }
      .column-left h2 .title-right a {
        cursor: pointer;
        margin-right: 10px; }
      .column-left h2 .title-right a:hover {
        color: #f84962; }
      .column-left h2 .title-right .more {
        color: #f84962; }
  .column-left .video-list {
    margin-left: -20px;
    margin-top: -20px; }
    .column-left .video-list li {
      float: left;
      margin-left: 20px;
      margin-top: 20px;
      width: 160px; }
      .column-left .video-list li img {
        vertical-align: top;
        width: 160px;
        height: 90px;
        cursor: pointer; }
      .column-left .video-list li h4 {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin-top: 5px; }
        .column-left .video-list li h4 i {
          font-size: 12px; }
        .column-left .video-list li h4 b {
          font-size: 12px;
          margin-left: 40px; }
      .column-left .video-list li p {
        width: 160px;
        margin-top: 5px;
        position: absolute;
        background-color: #fff;
        bottom: 0;
        color: #9c9999;
        transition: all .5s; }
      .column-left .video-list li h4:hover {
        color: #f84962; }
        .column-left .video-list li h4:hover p {
          bottom: -20px; }
    .column-left .video-list .first-video {
      width: 340px;
      height: 270px; }
      .column-left .video-list .first-video img {
        width: 340px;
        height: 240px;
        vertical-align: top; }
      .column-left .video-list .first-video p {
        position: static;
        width: 340px;
        margin-top: 0; }

.column-right {
  float: right;
  width: 260px;
  margin-left: 20px; }
  .column-right .rank {
    position: relative; }
    .column-right .rank .rank-type {
      position: relative; }
      .column-right .rank .rank-type h2 a:hover {
        color: #f84962; }
      .column-right .rank .rank-type ul {
        position: absolute;
        top: 3px;
        right: 0; }
        .column-right .rank .rank-type ul li {
          float: left;
          padding: 2px 10px;
          cursor: pointer; }
        .column-right .rank .rank-type ul .active {
          color: #f84962;
          background-color: #f8e7e8; }
    .column-right .rank .active {
      display: block; }

.rank-list {
  display: none;
  margin-top: 25px;
  height: 423px; }
  .rank-list li + li {
    margin-top: 14px; }
  .rank-list p {
    height: 15px;
    overflow: hidden; }
    .rank-list p span {
      color: #9c9999;
      margin-left: 5px;
      margin-right: 10px; }
  .rank-list a:hover {
    color: #f84962; }
  .rank-list img {
    float: left;
    width: 90px;
    height: 50px; }
  .rank-list div {
    float: right;
    width: 154px; }
    .rank-list div h5 {
      height: 20px;
      overflow: hidden; }
    .rank-list div p {
      color: #9c9999; }
    .rank-list div i {
      float: left;
      color: #9c9999;
      font-size: 12px; }
    .rank-list div b {
      float: right;
      color: #9c9999;
      font-size: 12px; }

.lower-height {
  height: 290px; }

.img-recommend {
  position: relative; }
  .img-recommend span {
    position: absolute;
    width: 36px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    top: 72px;
    left: 0;
    color: #fff;
    background-color: #f84962; }

.img-li {
  position: relative; }
  .img-li span {
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #f84962; }

.view-more {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 28px;
  width: 260px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  background-color: #e4e4e4; }

.view-more:hover {
  background-color: #bfbebc; }

.nav-fixed {
  position: fixed;
  top: 45px;
  z-index: 50;
  width: 100%; }

header .wrap {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100; }
  header .wrap .header-top {
    height: 47px;
    box-sizing: border-box;
    width: 980px;
    text-align: center;
    margin: 0 auto; }
    header .wrap .header-top img {
      float: left;
      height: 27px;
      width: 88px;
      margin-top: 9px;
      margin-bottom: 12px; }
    header .wrap .header-top .game-center {
      float: right;
      margin-top: 10px;
      margin-right: 12px; }
      header .wrap .header-top .game-center i {
        margin-right: 5px; }
      header .wrap .header-top .game-center a {
        font-size: 12px;
        vertical-align: bottom; }
      header .wrap .header-top .game-center a:hover {
        color: #f84962; }
    header .wrap .header-top .download {
      float: right;
      margin-top: 10px; }
      header .wrap .header-top .download i {
        margin-right: 2px; }
      header .wrap .header-top .download a {
        font-size: 12px;
        vertical-align: bottom; }
      header .wrap .header-top .download a:hover {
        color: #f84962; }
    header .wrap .header-top .search {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-70%, -50%); }
      header .wrap .header-top .search input[type="text"] {
        float: left;
        box-sizing: border-box;
        padding-left: 10px;
        width: 264px;
        height: 33px;
        border: 1px solid #e2e2e2;
        color: #999;
        border-radius: 5px 0 0 5px; }
      header .wrap .header-top .search button {
        float: left;
        width: 46px;
        height: 32px;
        color: #fff;
        background-color: #f84962;
        margin-left: -1px;
        border-radius: 0 5px 5px 0;
        cursor: pointer; }
    header .wrap .header-top .user {
      float: right;
      margin-top: 10px; }
      header .wrap .header-top .user li {
        float: right;
        margin-left: 21px; }
        header .wrap .header-top .user li i {
          color: #909699; }
        header .wrap .header-top .user li i:hover {
          color: #f84962; }
      header .wrap .header-top .user li:last-of-type {
        margin-top: 5px; }
      header .wrap .header-top .user a:hover {
        color: #f84962; }
header .header-banner {
  width: 100%;
  height: 180px;
  margin-top: 47px;
  background: url("src/pic/banner.jpg") no-repeat center top;
  background-size: cover; }
header nav {
  position: relative;
  height: 46px;
  background-color: #fff;
  border-bottom: 1px solid #eee; }
  header nav ul {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 100%;
    font-size: 14px;
    color: #333; }
    header nav ul > li {
      float: left;
      padding: 14px 4px 12px 4px;
      margin-right: 26px;
      position: relative; }
      header nav ul > li ul {
        position: absolute;
        z-index: 5;
        display: none;
        top: 100%; }
        header nav ul > li ul li {
          float: left;
          padding: 14px 8px 12px 0;
          margin-right: 26px; }
    header nav ul li:hover {
      color: #f84962; }
      header nav ul li:hover ul {
        display: block; }
    header nav ul .active {
      color: #f84962;
      border-bottom: 3px solid #f84962; }
    header nav ul .rank {
      margin-right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      cursor: pointer; }
      header nav ul .rank i {
        vertical-align: middle; }
  header nav .moreGroupBg {
    position: absolute;
    display: none;
    z-index: 1;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 1px #eee; }

.carouselAndVideo {
  margin-top: 10px; }
  .carouselAndVideo .carousel-container {
    position: relative;
    float: left;
    width: 508px;
    height: 260px;
    overflow: hidden; }
    .carouselAndVideo .carousel-container .carousel {
      position: absolute;
      width: 2540px;
      left: 0; }
      .carouselAndVideo .carousel-container .carousel li {
        float: left;
        position: relative; }
        .carouselAndVideo .carousel-container .carousel li .videoIntro {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: #fff; }
    .carouselAndVideo .carousel-container .bullet {
      position: absolute;
      bottom: 10px;
      right: 10px; }
      .carouselAndVideo .carousel-container .bullet li {
        float: left;
        margin-right: 10px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer; }
      .carouselAndVideo .carousel-container .bullet .active {
        width: 16px;
        border-radius: 4px;
        background-color: #f84962; }
  .carouselAndVideo .video {
    float: right;
    margin-left: 20px;
    margin-right: -20px;
    width: 472px;
    height: 280px; }
    .carouselAndVideo .video .videoList {
      width: 100%; }
      .carouselAndVideo .video .videoList li {
        position: relative;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px; }
        .carouselAndVideo .video .videoList li > a img {
          vertical-align: middle;
          width: 216px;
          height: 120px; }
        .carouselAndVideo .video .videoList li > p {
          position: absolute;
          bottom: 5px;
          left: 5px;
          color: #fff; }
        .carouselAndVideo .video .videoList li .videoIntro {
          position: absolute;
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.7); }
          .carouselAndVideo .video .videoList li .videoIntro h4 {
            margin-bottom: 50px;
            color: #fff; }
          .carouselAndVideo .video .videoList li .videoIntro p {
            color: #fff; }
          .carouselAndVideo .video .videoList li .videoIntro span {
            margin-right: 30px;
            color: #fff; }
            .carouselAndVideo .video .videoList li .videoIntro span b {
              font-size: 12px; }

.monkey-recommend {
  margin-top: 20px; }
  .monkey-recommend h2 {
    margin-bottom: 10px; }
    .monkey-recommend h2 img {
      width: 40px;
      vertical-align: middle; }
    .monkey-recommend h2 a i {
      font-style: inherit;
      margin-left: 5px; }
    .monkey-recommend h2 a:hover {
      color: #f84962; }
    .monkey-recommend h2 b {
      margin-left: 10px;
      font-weight: normal;
      font-size: 12px;
      color: #9c9999; }
  .monkey-recommend .monkey-recommend-video .recommendVideoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px; }
    .monkey-recommend .monkey-recommend-video .recommendVideoList li img {
      width: 160px;
      height: 90px; }
    .monkey-recommend .monkey-recommend-video .recommendVideoList li span {
      color: #9c9999; }
    .monkey-recommend .monkey-recommend-video .recommendVideoList li a:hover {
      color: #f84962; }
      .monkey-recommend .monkey-recommend-video .recommendVideoList li a:hover span:hover {
        color: #f84962; }
    .monkey-recommend .monkey-recommend-video .recommendVideoList li:last-of-type img {
      width: 260px;
      height: 128px; }

.banna-rank {
  margin-top: 20px; }
  .banna-rank .column-left {
    float: left;
    position: relative;
    margin-top: 20px;
    width: 700px; }
    .banna-rank .column-left li {
      font-weight: normal; }
    .banna-rank .column-left h2 {
      box-sizing: border-box;
      width: 700px;
      margin-bottom: 10px; }
      .banna-rank .column-left h2 img {
        width: 40px;
        vertical-align: middle; }
      .banna-rank .column-left h2 a i {
        font-style: inherit;
        margin-left: 5px; }
      .banna-rank .column-left h2 a:hover {
        color: #f84962; }
      .banna-rank .column-left h2 b {
        margin-left: 10px;
        font-weight: normal;
        font-size: 12px;
        color: #9c9999; }
    .banna-rank .column-left .rank-type {
      position: absolute;
      right: 0;
      top: 0; }
      .banna-rank .column-left .rank-type li {
        float: right;
        line-height: 22px;
        padding: 2px 10px;
        height: 22px;
        margin-right: 10px;
        cursor: pointer; }
      .banna-rank .column-left .rank-type .active {
        color: #f84962;
        background-color: #f8e7e8; }
    .banna-rank .column-left .video-list {
      display: none;
      margin-left: -20px;
      margin-top: -20px; }
      .banna-rank .column-left .video-list li {
        float: left;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        width: 160px;
        font-weight: normal; }
        .banna-rank .column-left .video-list li a img {
          width: 160px;
          height: 90px; }
        .banna-rank .column-left .video-list li a h4 {
          height: 20px;
          overflow: hidden;
          margin-top: 5px; }
        .banna-rank .column-left .video-list li a h4:hover {
          color: #f84962; }
        .banna-rank .column-left .video-list li a span {
          float: left;
          width: 106px;
          margin-top: 4px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #9c9999; }
        .banna-rank .column-left .video-list li a span:hover {
          color: #f84962; }
        .banna-rank .column-left .video-list li a i {
          margin-top: 2px;
          float: right;
          width: 54px;
          text-align: right;
          color: #f9bc00; }
    .banna-rank .column-left .active {
      display: block; }
    .banna-rank .column-left .guided-vision {
      margin-top: 20px;
      overflow: hidden; }
  .banna-rank .column-right {
    float: right;
    width: 260px;
    margin-top: 20px; }
    .banna-rank .column-right img {
      width: 40px;
      vertical-align: middle; }
    .banna-rank .column-right h2 a:hover {
      color: #f84962; }
    .banna-rank .column-right .article-type {
      margin-top: 7px;
      display: flex;
      justify-content: space-around; }
      .banna-rank .column-right .article-type li {
        float: left;
        padding-bottom: 8px;
        border-bottom: 1px solid #fff; }
      .banna-rank .column-right .article-type li.active {
        color: #2ab69d;
        border-color: #2ab69d; }
    .banna-rank .column-right .article-list {
      position: relative;
      height: 380px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .banna-rank .column-right .article-list li {
        display: none; }
      .banna-rank .column-right .article-list img {
        float: left;
        width: 90px;
        height: 50px;
        margin-right: 20px; }
      .banna-rank .column-right .article-list .article-img-intro {
        margin-bottom: 10px; }
        .banna-rank .column-right .article-list .article-img-intro span {
          color: #9c9999; }
        .banna-rank .column-right .article-list .article-img-intro h5:hover,
        .banna-rank .column-right .article-list .article-img-intro a:hover {
          color: #2ab69d; }
        .banna-rank .column-right .article-list .article-img-intro .up {
          float: left; }
        .banna-rank .column-right .article-list .article-img-intro i {
          float: right;
          vertical-align: bottom;
          font-size: 12px;
          color: #9c9999; }
      .banna-rank .column-right .article-list .active {
        display: block; }
      .banna-rank .column-right .article-list p + p {
        margin-top: 13px; }
      .banna-rank .column-right .article-list p {
        overflow: hidden;
        height: 16px;
        line-height: 20px; }
      .banna-rank .column-right .article-list p:hover {
        color: #2ab69d; }

.ads {
  margin-top: 40px; }

.ads-container {
  display: flex;
  justify-content: space-between; }
  .ads-container img {
    width: 480px;
    height: 84px; }

footer {
  background-color: #ececec; }
  footer .footer-top {
    position: relative;
    padding-top: 36px; }
    footer .footer-top ul {
      float: left; }
    footer .footer-top li {
      float: left;
      width: 160px;
      margin-left: 20px;
      box-sizing: border-box;
      border-right: 1px solid #fff; }
      footer .footer-top li h5 {
        color: #b5b5b5; }
      footer .footer-top li p a {
        float: left;
        margin-top: 8px;
        margin-right: 25px; }
    footer .footer-top li:first-of-type {
      margin-left: 0; }
    footer .footer-top .ac-girl {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      padding: 10px; }
      footer .footer-top .ac-girl img {
        width: 70px;
        height: 60px; }
    footer .footer-top .download {
      width: 106px; }
    footer .footer-top .feedback {
      width: 196px; }
  footer .footer-main p {
    float: left;
    width: 214px;
    margin-bottom: 10px;
    color: #cccccc; }
  footer .footer-bottom {
    text-align: center; }
    footer .footer-bottom img {
      margin-bottom: 16px; }
    footer .footer-bottom p {
      padding-bottom: 16px;
      color: #cccccc; }

/*# sourceMappingURL=acfun.css.map */
